<table border="1">
  <thead>
    <tr>
      @for (head of tableHeader; track head) {
        <th>{{ head }}</th>
      }
    </tr>
  </thead>

  <tbody>
    @for (user of userData; track user.id) {
      <tr (click)="goToDetails(user)">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
      </tr>
    }
  </tbody>
</table>


<!-- 
<div class="chess-container">
  @for(row of arr; let r = $index; track $index) {
    <div class="row">

      @for(col of arr; let c = $index; track $index) {
        @if((r + c) % 2 == 0) {
          <div class="cell white"></div>
        } @else {
          <div class="cell black"></div>
        }
      }
    </div>
  }
</div> -->